<div class="container">
  <div class="content">
    <form>
      <div class="section-2">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="name"
          [(ngModel)]="name"
        />
        <br />
        <label for="surname">Surname</label>
        <input
          type="text"
          name="surname"
          id="surname"
          placeholder="surname"
          [(ngModel)]="surname"
        />
        <br />
        <label for="email">Email</label>
        <input
          type="text"
          name="email"
          id="emailRegister"
          placeholder="email"
          [(ngModel)]="email"
        />
        <br />
        <label for="email again">Email again</label>
        <input
          type="text"
          name="emailAgain"
          id="emailAgain"
          placeholder="emailAgain"
          [(ngModel)]="emailAgain"
        />
        <br />
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="passwordRegister"
          placeholder="password"
          [(ngModel)]="password"
        />
        <br />
        <label for="password again">Password again</label>
        <input
          type="password"
          name="passwordAgain"
          id="passwordAgain"
          placeholder="passwordAgain"
          [(ngModel)]="passwordAgain"
        />
        <br />
        <div class="button-sec">
          <button type="button" class="button" (click)="register()">
            Register
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
