.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
}

.footer {
  position: relative;
  color: #ffffff;
  background-color: #000000;
  padding: 10px;
  text-align: center;
}

.footer-sec-1 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-sec-2 {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 20px;
  margin-bottom: 20px;
}
