.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  width: 80%;
}

.table1 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-weight: bold;
  padding: 5px 5px 5px 10px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  border-radius: 50px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.table1 td {
  padding: 10px;
  margin: 20px;
}

.button {
  background-color: #363636;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-column {
  width: 0%;
}
