<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />
    <link href="./navbar.component.css" rel="stylesheet" type="text/css" />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <table class="table1">
          <tr>
            <td><a href="home.html" class="table1">Home</a></td>
            <td><a href="yourMovies.html" class="table1">Your movies</a></td>
            <td><a href="profile.html" class="table1">Profile</a></td>
            <td>
              <button id="logoutButton" class="button" onclick="logoutUser()">
                Logout
              </button>
            </td>
            <!-- Add this line -->
          </tr>
        </table>
      </div>
    </div>

    <script src="./home.js"></script>
  </body>
</html>
