<div class="container">
  <div class="content">
    <form>
      <div class="section-1">
        <label for="email">Email</label>
        <input type="text" name="email" id="emailLogin" placeholder="email" />
        <br />
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="passwordLogin"
          placeholder="password"
        />
        <br />
        <div class="button-sec">
          <button type="button" class="button" (click)="login()">
            Sign in
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
